# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.env.*
*.venv
venv/
ENV/
env/
env.bak/
pip-log.txt
pip-delete-this-directory.txt

# Dash / Node (si tu en utilises)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Data / output (si tu en as)
*.csv
*.xlsx
*.db
